svg {
	border: 1px solid #444
}

body, .nodelabel, h4 {
    background-color: black;
    color: white;
    fill: white;
    font-family: sans-serif;
    font-size: x-small;
}

@keyframes failed {
    0%    { fill: red; }
    90%   { fill: orange; }
    100%  { fill: red; }
}

@keyframes success {
    0%    { fill: green; }
    100%  { fill: white; }
}

@keyframes active {
    0%    { fill: #1890ff; }
    50%   { fill: black; }
    100%  { fill: #1890ff; }
}

@keyframes queued {
    0%    { fill: #aaa; }
    50%   { fill: #444; }
    100%  { fill: #aaa; }
}

.active circle {
    animation-name: active;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    animation-fill-mode: both;
}

.queued circle {
    animation-name: queued;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    animation-fill-mode: both;
}

.success circle {
    animation-name: success;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-delay: 1s;
    animation-fill-mode: both;
}

.failed circle {
    animation-name: failed;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: 5;
    animation-delay: 1s;
    animation-fill-mode: both;
}
